code {
  --sb-track-color: var(--pico-background-color);
  --sb-thumb-color: #6BAF8D;
  --sb-size: 14px;
  width: 100%;
  max-height: 550px;
  opacity: 0;
  overflow: auto;
}

article {
  height: 50%;
}